body {
    background-color: #e8deeb;
}


.main_section {
    color: black;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin: 40px 0px 50px 0px;
}


.main_article {
    margin: 0px 0px 40px 0px;
}


.main_article--item {
    color: darkgreen;
    font-size: 25px;
    font-weight: bold;
}


.main_article--list_item {
    color: #0048ff;
    font-size: 20px;
    margin: 10px 0px 30px 0px;
}


.main_article--list_item a {
    text-decoration: none;
    color: #0048ff;
}


.main_article--list_item a:hover {
    color: #fd5a5a;
} 


.main_article--list_item a:active {
    color: #f86e1f;
}


.main_article--list_figure img {
    width: 400px;
    height: 250px;
}


.main_article--list_figure{
    margin: 0px 0px 40px 40px;
}


.main_article--list_figure figcaption {
    font-size: 17px;
    font-style: italic;
}


.main_footer {
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 25px 0px;
    font-style: italic;
}
