body {
    background-color: #e8deeb;
}


.main_section {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: black;
}


.main_article--item {
    font-size: 25px;
    font-weight: bold;
    color: darkgreen;

}


.main_article--list_item {
    font-size: 20px;
    color:midnightblue;
}


.main_article--list_figure figcaption {
    font-size: 17px;
    font-style: italic;
}


.main_footer {
    font-size: 25px;
    text-align: center;
}


.main_article--list_figure img {
    width: 400px;
    height: 250px;
}
